/* Ini File CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    color: black;
}

header{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo{
    /* border-radius: 50%; */
    width: 300px;
    height: 70px;
    /* border: 1px solid black; */
    background-image: url(https://i.pinimg.com/736x/83/a9/c0/83a9c0c695033b6e19c4c9d1aa916d5f.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    
}

nav a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    border-radius: 8px;
}

nav > a{
    text-decoration: none;
    padding: 10px 25px;
    color: black;
}

main{
    padding: 20px;
}

#home{
    padding: 30px;
}

.banner-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
}

.banner-img{
    height: 400px;
    width: 900px;
    background-position: center;
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    border-radius: 10px;
}

.banner-1{
    background-image: url(https://i.pinimg.com/736x/11/b9/11/11b911b277091050a6cd0ae3a5f53124.jpg);
}

.banner-2{
    background-image: url(https://i.pinimg.com/736x/32/cf/f0/32cff0ae101f74f579153d7964cacdbf.jpg);
}

.banner-3{
    background-image: url(https://i.pinimg.com/736x/9e/dc/1b/9edc1b7e973c8227543837575615480e.jpg);
}

#keunggulan{
    padding: 20px;  
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
}

.card{
    text-align: center;
    align-items: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
}

.card i{
    font-size: 40px;
    color: #f1c40f;
    
}

#pesan{
    padding: 20px;
}

.form-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 1.5rem;
}

form{
    gap: 0.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pesanan{
    flex: 2;
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 720px){

    .form-container{
        flex-direction: column;
        gap: 1rem;
    }

    form{
        flex: 1;
    }

    .pesanan{
        flex: 1;
    }
    
}

@media screen and (max-width: 525px){
    header{
        flex-direction: column;
        align-items: center;
    }

    nav{
        margin-top: 10px;
    }

    .logo{
        width: 200px;
        height: 50px;
    }

    nav a{
        padding: 10px 15px;
    }

    main{
        padding: 10px;
    }

    #beranda h1{
        /* font-size: 1.2rem; */
        text-align: center;
    }

    #beranda p{
        text-align: center;
    }

    .banner-container{
        flex-direction: column;
        gap: 1rem;
    }

    .banner-img{
        height: 300px;
        width: 100%;
    }

    .card-container{
        flex-direction: column;
        gap: 1rem;
    }

    .card{
        width: 100%;
    }

    #pesan h1{
        text-align: center;    
    }
    
}